@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*  #469802 */
  --background-color: #fff;
  --background-color2: #b49363;
  --text-color: #1b1b1b;
  --primary-color: #b17f39;
  --secondary-color: #fdc07b;
  --accent-color: #31fc1a;
  --accent-color2: #c0fdb3;
}

body {
  font-family: "Lato", "Verdana", sans-serif;
}

.header {
  /* text-align: center; */
  padding: 1em 1em;
  background-color: var(--primary-color);
  color: var(--background-color);
  box-shadow: 1px 1px 5px #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin-left: 1em;
}
.header nav {
  font-size: 18px;
  display: flex;
  gap: 1em;
  margin-right: 1em;
}
.header nav a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.header nav a:hover {
  background-color: #b49363;
  color: var(--accent-color);
}
.header nav a:active {
  background-color: var(--background-color);
  color: var(--accent-color);
}
/* .header nav {
} */

main {
  /* margin-top: 1em;
  background-color: #fff; */
  color: var(--text-color);
  /* display: flex; */
  /* height: 90vh; */
  padding: 1em;
  color: var(--text-color);
}

main nav {
  background-color: var(--background-color2);
  color: var(--background-color);
  width: fit-content;
  margin: auto;
  padding: 0.5em 3em;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}
main nav h3 {
  color: var(--accent-color);
}
main nav ul {
  list-style-type: none;
  margin: 0.5em 0;
}
main nav li {
  margin-bottom: 0.25em;
}
main nav a {
  color: var(--background-color);
  /* font-weight: bold; */
  text-decoration: none;
  transition: color 150ms ease-out;
}
main nav a:hover {
  color: var(--accent-color);
  /* font-weight: bold; */
}

h2 {
  margin-bottom: 0.5em;
  border-bottom: 3px solid var(--accent-color);
  width: fit-content;
  font-family: "Rubik";
  /* text-indent: 0.5em; */
}

.main-header,
.ingredients,
.steps {
  background-color: var(--secondary-color);
  padding: 1em;
  border: 2px solid var(--accent-color2);
  border-radius: 10px;
  font-size: 18px;
}

.main-header {
  display: flex;
  font-size: 18px;
}

.pizza-img {
  width: 95%;
  height: auto;
  border-radius: 5px;
  margin-left: 1em;
}
.desc-sect {
  margin-left: 1em;
}

.desc-sect p {
  margin-bottom: 1em;
  line-height: 1.4em;
}
.flex {
  display: flex;
}
.mg-top {
  margin-top: 1em;
}
.ingredients {
  margin-right: 1em;
  width: 25%;
  padding: 1em;
  height: fit-content;
}
.ingredients ul {
  /* list-style-type: square; */
  list-style-position: inside;
  margin: auto;
  line-height: 1.5em;
  /* margin-top: 1em; */
}
.ingredients h2 {
  margin-left: 0.5em;
}
.steps {
  width: 75%;
}
.steps ol {
  list-style-position: inside;
  line-height: 1.4em;
}
.steps li {
  margin-top: 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
